body {
    text-align: center;
}

p {
    width : 95%;
    height : auto;
    line-height : 25px;
    margin : auto;
}

h1 {
    color: #4aa5f0;
}

.content {
    float:left;
    width:100%;
    height:200px;
    font-size-adjust: relative;
}

.colomnleft {
    float: left;
    width: 50%;
}

.colomnright {
    float: right;
    width: 50%;
}

.workleft {
    float: left;
    width: 75%;
}

.workright {
    float: right;
    width: 40%;
}

.blank {
    width: 100%;
    height: 5px;
}
